body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.image-qr img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 5px;
}

.sentence1 {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 0 0 10px 0;
}

.sentence2 {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: hsl(220, 15%, 55%);
  margin-top: 15px;
}


.attribution {
  position: absolute;
  bottom: 10px;
  text-align: center;
}
