body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.blog-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px hsl(0, 0%, 7%);
  max-width: 400px;
  margin: -7px auto; /* vertically center inside column flex body */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

img.bg-img {
  width: 100%;
  border-radius: 10px;
}

.section1 {
  position: relative;
  width: 100%;
  padding: 3px 6px; /* top/bottom: 3px; left/right: 15px */
  background: hsl(47, 88%, 63%);
  max-width: 70px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.published-date {
  font-size: 15px;
  color: hsl(0, 0%, 7%);
  font-weight: 500;
}

.title {
  font-size: 25px;
  font-weight: 700;
  color: hsl(0, 0%, 7%);
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 0%, 37%);
  line-height: 1.4;
}

img.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  white-space: nowrap;
}

.author-info {
  display: flex;
  align-items: center;
}

.author {
  font-weight: 700;
}

.attribution {
  position: sticky;
  bottom: 4.5px;
  margin-top: auto;
  align-self: center;
  text-align: center;
  font-size: 10px;
}
